* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url("ciemne-tlo-nieb.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    position: relative;
}

span{
    color: rgba(255, 255, 255, 0);
    display: none;
}

.tlo{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
}

nav{
    background-color: rgba(0, 0, 0, 0.8);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
nav a{
    color: #2579ce;
    text-shadow: 4px 4px 40px rgba(0, 130, 255, 1);
}
nav a:first-of-type{
    border-right: 3px solid rgba(43, 39, 39, 0.7);
    margin-right: 3px;
    padding-right: 10px;
}
nav a:last-of-type{
    border-left: 3px solid rgba(43, 39, 39, 0.7);
    margin-left: 3px;
    padding-left: 10px;
}

.img{
    background-image: url("Logo-nieb.png");
    background-size: cover;
    height: 9vh;
    width: 9vh;
}

.tel-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.tel-button div {
    width: 25px;
    height: 3px;
    background: linear-gradient(90deg, #0a66c2, #3e7cb1) ;
}

.tel-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200px;
    background: rgb(20, 20, 20);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: left 0.3s;
    z-index: 1001;
}

.tel-menu-a {
    color: white;
    border-top: 2px solid rgb(45, 45, 45);
    border-bottom: 2px solid rgb(45, 45, 45);
    text-decoration: none;
}
.tel-img{
    background-image: url("Logo-nieb.png");
    background-size: cover;
    border: none;
    width: calc(50px + 1.5rem);
    height: calc(50px + 1.5rem);
    align-self: center;
    gap: 0;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1000;
}
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}
.tel-menu.active {
    left: 0;
}

.container {
    height: auto;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dropdown {
    width: 20%;
    min-width: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.dropdown-kategoria {
    background-color: rgba(20, 20, 20, 0.8);
    text-shadow: 4px 4px 30px rgba(0, 130, 255, 1);
    font-size: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    transition: border-radius 0.5s ease;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.dropdown-kategoria::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #0a66c212;
    transition: none; 
    transform: skewX(45deg);
    transform-origin: center;
}

.dropdown-kategoria:hover::after {
    animation: slideIn 0.7s forwards; 
}

@keyframes slideIn {
    0% {
        left: -100%;
    }
    100% {
        left: 107%;
    }
}

.dropdown-kategoria,
.tel-menu-a {
    color: #5d9de7;
}
.dropdown-kategoria:hover,
.dropdown-kategoria:hover::before{
    color: #91d1ff;
}

.dropdown-kategoria::before {
    content: "▶";
    color: #7db0eb;
    margin-right: 10px;
    margin-bottom: 1px;
    font-weight: bold;
    transition: transform 0.5s ease;
    display: inline-block;
}

.dropdown.open .dropdown-kategoria::before {
    transform: rotate(90deg);
}

.dropdown-content {
    background-color: rgba(25, 25, 25, 0.8);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease;
    list-style: none;
    text-align: center;
}

.dropdown.open .dropdown-content {
    opacity: 1;
    max-height: 500px;
}
.dropdown.open .dropdown-kategoria{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

a{
    text-decoration: none;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #0a66c2;
}
a:hover{
    color: #63b3ed;
}



@media (max-width: 500px){
    span{
        display: flex;
    }
    body{
        background-image: url("ciemne-tlo-telefon-nieb.jpg");
    }
    .tlo{
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 10vh;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .dropdown{
        width: 80%;
        max-width: 250px;
    }
    .pc-nav {
        display: none;
    }

    .tel-button {
        display: flex;
        position: absolute;
        left: 1em;
        top: 1em;
    }
    nav{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        text-align: center;
    }

    .img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("Wjs-nieb.png");
        width: 12vh;
        height: 12vh;
    }


    
    
    
}
